.card-img-top{
    height:15rem;
}

.img-thumbnail{
    margin:0;
    padding:0;
}

.card{
    margin-bottom: 20px;
}

body{
    padding-top: 70px;
}

#showcase{
    margin-bottom:10px;
}

#nameHeader{
    color: rgb(66, 66, 66);
}
#nameHeader:hover{
    color: rgb(10, 10, 10);
}

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .circularblue{
      background: #6eb2ff;
      padding-top: 20px;
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
      margin-top: 20px;
  }

  .fas{
      color: white;
  }